.side { position:absolute; right:10px; top:90px; z-index:9}
.side ul {list-style: none;}
.side ul li {position:relative;}
.side ul li span { display:none; font-size:12px;width:60px; line-height:40px; border-radius:5px; color:#fff; background: var(--main1); position:absolute; right:120%; top:0; text-align:center; }
.side ul li span:after {content:''; display:block; width:8px; height:8px; position:absolute; right:-4px; top:50%; transform:translateY(-50%) rotate(45deg); background:var(--main1);}
.side ul li:hover span {display:block;}
.side ul li a {margin-bottom:2px; display:block; width:40px; height:40px; background:#fff center no-repeat; border:1px solid #e5e5e5; border-radius:5px; box-shadow:0 0 5px rgba(0,0,0,.1);}
.side ul li.view a {background-image:url(../../img/main/gis/i-3d.svg);}
.side ul li.view.on a {background-image:url(../../img/main/gis/i-3d-on.svg); background-color:#4DB4D5;}
.side ul li.base { background-position: calc(50% - 1px) center; }
.side ul li.base a {background-image:url(../../img/main/ic_layer-on.svg); }
.side ul li.base.on a {background-image:url(../../img/main/ic_layer.svg); background-color: #4DB4D5; }
.side ul li.render a {background-image:url(../../img/main/i-refresh-on.svg);}
.side ul li.render.on a {background-image:url(../../img/main/i-refresh.svg); background-color: #4DB4D5;}
.side ul li.reduce a {background-image:url(../../img/main/toggleArrow_black.svg);}
.side ul li.reduce.on a {background-image:url(../../img/main/toggleArrow_black_on.svg);}

.side ul li.search > a {background-image:url(../../img/main/i-magnifier.svg);}
.side ul li.search.on > a {background-image:url(../../img/main/i-magnifier-on.svg); background-color: #4DB4D5;}
.side ul li.search .search-bar {display: none; font-size:12px; width:200px; height: fit-content; line-height:40px; border-radius:5px; color:#fff; background:#fff center no-repeat; position:absolute; right:120%; top:0; text-align:center; border:1px solid #e5e5e5; box-shadow: 0 0 5px rgba(0, 0, 0, .1); transition: 1s all;}
.side ul li.search.on .search-bar {display: block !important; align-content: center;}
.side ul li.search .search-bar a { position: absolute; height: 35px; line-height: 35px; top: 3px; right: 3px; }
.side ul li.search .search-bar .title { height: 30%; font-family: 'NanumSquareRound'; font-size: 16px; color: #333 !important; }
.side ul li.search .search-bar .content { position: relative; }
.side ul li.search.on .search-bar .title { }
.side ul li.search.on .search-bar .content { }
.side ul li.search .search-bar .content > input[type='text'] { width: 100%; background: transparent; border: 0; font-family: inherit; padding-left: 5px; }
.side ul li.search .search-bar .content > input[type='text']:focus { border: 0; outline: none !important; }
.side ul li.search.on .search-bar .content > input[type='text'] { }
.side ul li.ruler a {background-image:url(../../img/main/i-ruler.svg); margin-top:20px; }
.side ul li.radar a {background-image:url(../../img/main/i-radar.svg);}
.side ul li.crop a {background-image:url(../../img/main/i-rect.svg);}
.side ul li.save a {background-image:url(../../img/main/i-save.svg);}
.side ul li.plus a {background-image:url(../../img/main/i-plus.svg); margin-top:20px; }
.side ul li.minus a {background-image:url(../../img/main/i-minus.svg);}
.side ul li.expand a {background-image:url(../../img/main/i-crop.svg); }
.side ul li.location a {background-image:url(../../img/main/i-location.svg); margin-top:20px;}

.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
}

.ol-zoom.ol-unselectable.ol-control {
	display:none;
}
