##========================================================================================
## 화면 상단 HTML 공통 영역 (사용자)
## [각 프로젝트별로 퍼블리싱 HTML 적용]
##
## param		: request parameter 정보
## pageInfo		: 페이지정보(DB) 및 세션정보
## menuList		: 메뉴리스트 정보(DB정보)
##========================================================================================

#set ($urlHome				= "${contextPath}/main.do")			##<!-- 홈 -->
#set ($urlSiteMap           = "javascript:void(0);")            ##<!-- 사이트맵 -->
#set ($urlLogin				= "${contextPath}/checkEnter.do")		##<!-- 로그인 -->
#set ($urlMember			= "${contextPath}/member/joinAgree.do")				##<!-- 회원가입 -->

#if ($type == 'login')

#else
    <body id="container">
    	<header>
    		<div class="head w1400">
    			<h1 class="logo">
    				<a href="${urlHome}" title=""><img src="${contextPath}/design/img/common/logo.jpg" alt=" 로고"></a>
    			</h1>
    			<aside class="pc">
    				<div class="asideWrap">
                        #if ($userInfo.userId)
        					<p><span class="c_orange" id="userModify">$!{userInfo.userNm}</span> 님 환영합니다.</p>
        					<!--a href="#void">[개인정보수정]</a-->
        					<a href="${contextPath}/logout.do" class="logout">[로그아웃]</a>
        				#elseif ($userInfo.userNm)
        					<p><span class="c_orange" id="userModify">$!{userInfo.userNm}</span> 님 환영합니다.</p>
        					<!--a href="#void">[개인정보수정]</a-->
        					<a href="${contextPath}/logout.do" class="logout">[로그아웃]</a>
						#else
        					<a href="${urlMember}">회원가입</a>
        					<a href="${urlLogin}" class="log">로그인</a>
        				#end
    				</div>
    			</aside>
    		</div>
    
    		<nav class="pc box">
    			<div class="navbg pc">
    				<div class="dep1 ani05"></div>
    				<div class="dep2"></div>
    			</div>
    		
    			<!-- orgH:1차메뉴 높이 / leftgap:왼쪽에서 여백 px,% 사용가능 -->
    			<div class="gnb box w1400" data-orgH="100" data-gap="" data-leftPos="">
    				<ul>
                        #**************************************
                         메뉴리스트처리. (2단계까지)
                        ***************************************#
                        #foreach( $map in $menuList)
                            ## URL 정의
                            #if ("$!map.trgtUrl" == "")
                                #set ($targetUrl    = "javascript:void(0);")
                                #set ($targetStyle  = "color:#dfdfdf;")
                            #else
                                #set ($targetUrl    = "$!{contextPath}$map.trgtUrl")
                                #set ($targetStyle  = "")
                            #end
        
                            ## 대메뉴 이미지번호
                            #set ($num = "0"+($map.menuLvl))
        
                            ## 메뉴활성화 스타일
                            #set ($actClass = "")
        
                            ## 메뉴레벨 1
                            #if ($map.level == 1)
                                #if ($pageInfo.firstMenuId == $map.firstMenuId)
                                    #set ($actClass = "active")
                                #else
                                    #set ($actClass = "")
                                #end						
        					<li class="">
        						<a href="javascript:void(0);">$!{map.menuNm}</a>

                                ## 하위메뉴가 있을경우
                                #if ($map.isSubLast == 1)
                                    <ul>
                                #else
                                    </li>
								#end
							#end
							
                            ## 메뉴레벨 2
                            #if ($map.level == 2)
                                #if ($pageInfo.secondMenuId == $map.menuId)
                                    #set ($actClass = "active")
                                #else
                                    #set ($actClass = "")
                                #end
        
                                <li><a href="$!{targetUrl}">$!{map.menuNm}</a></li>
        
                                ## 하위메뉴 태그 닫기
                                #if ($map.menuLvl != $map.nextMenuLvl)
                                        </ul>
                                    </li>
                                #end
                            #end			
						#end
    					
    				</ul>
    			</div>
    		</nav><!-- //nav -->
    		
    		<!-- 모바일 -->
    		<nav class="mobile box" data-arrow="right">
    			<div class="closeWrap">
    				<a href="javascript:void(0)" class="gnbClose" title="닫기">닫기</a>
    				<a href="${urlHome}" class="btn">HOME</a>
    				<a href="${urlLogin}" class="btn">로그인</a>
    				<a href="${urlMember}" class="btn">회원가입</a>urlMember
    			</div>
    		</nav>
    		<div class="gnbCover mobile"></div>
    		
    		<a href="#void" class="gnbView mobile"></a>
    	</header>
    	<!-- // header -->
    	
    	<div class="headerH"></div>
    	
    	
    		
	<div class="quickMenu pc">
	<div class="btn rside" style="
  		  position: absolute;
 		   top: 50%;
   		 right: 100%;
   		 -webkit-writing-mode: vertical-lr;
   		 background-color:#1b9ad6;
   		 color:white;
		">
        <a href="javascript:;">
            <i></i>
            <span>QUICK</span>
        </a>
    </div>
		<div class="quickMenu-wrap" style="
    display: none;
">
			<p>QUICK MENU</p>
			<ul>
				<li><a href="#void"><img src="${contextPath}/design/img/common/i-magnifier.svg" alt="" /><span>메뉴얼</span></a></li>
				<li><a href="#void"><img src="${contextPath}/design/img/common/i-faq.svg" alt="" /><span>사진등록예시</span></a></li>
				<!--<li><a href="#void"><img src="${contextPath}/design/img/common/i-customer.svg" alt="" /><span>문의하기</span></a></li>-->
				<li><a href="#void"><img src="${contextPath}/design/img/common/i-car.svg" alt="" /><span>전기차&middot;수소차<br/>충전소 찾기</span></a></li>
				<li><a href="${contextPath}/board/location.do"><img src="${contextPath}/design/img/common/i-location.svg" alt="" /><span>오시는길</span></a></li>
				<!--<li><a href="#void"><img src="${contextPath}/design/img/common/i-chat.svg" alt="" /><span>채팅상담</span></a></li>-->
			</ul>
		</div>
	</div>
    
#end    	
