##========================================================================================
## 공통 스타일시트, 자바스크립트
## [각 프로젝트별로 퍼블리싱 HTML 적용]
##========================================================================================

<!--	<link rel="shortcut icon" 	type="image/x-icon"		href="data:image/x-icon;," >--> 							<!-- favicon.ico 없애기 --> 


    <script type="text/javascript" src="${contextPath}/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="${contextPath}/jquery/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="${contextPath}/jquery/bootstrap/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="${contextPath}/jquery/bootstrap/bootstrap-dialog.js"></script>
    <script type="text/javascript" src="${contextPath}/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="${contextPath}/jquery/jquery.form.min-4.2.2.js"></script>               <!-- jQuery FORM Plugin-->

	<!-- ebi js -->
    <script type="text/javascript" src="${contextPath}/design/js/ebi.gnb.js"></script>
	<script type="text/javascript" src="${contextPath}/design/js/ebi.js"></script>
	<script type="text/javascript" src="${contextPath}/design/js/modal.js"></script>
	<!-- plugin css -->
	<script type="text/javascript" src="${contextPath}/plugins/sweetalert2/sweetalert2.js"></script> 			<!-- sweetalert -->
	<link rel="stylesheet" type="text/css" href="${contextPath}/plugins/sweetalert2/sweetalert2.css" />			<!-- sweetalert -->
	
    <script type="text/javascript" src="${contextPath}/js/message.js?version=${ver}"></script>         			<!-- Message Script -->
    <script type="text/javascript" src="${contextPath}/js/com/comm_popup.js?version=${ver}"></script>           <!-- Util Script -->
    <script type="text/javascript" src="${contextPath}/js/com/comm_utils.js?version=${ver}"></script>           <!-- Util Script -->
    <script type="text/javascript" src="${contextPath}/js/com/comm_datatables.js?version=${ver}"></script>           <!-- Util Script -->
    <script type="text/javascript" src="${contextPath}/jquery/jquery.inputmask.bundle.js"></script>             <!-- inputmask -->
	<script type="text/javascript" src="${contextPath}/plugins/datatables/jquery.dataTables.min.js"></script> 	<!-- datatables -->
	
    <!-- Business Script-->
    
    
    <link rel="stylesheet" type="text/css" media="all" href="${contextPath}/css/datepicker.css">
	<link rel="stylesheet" type="text/css" media="all" href="${contextPath}/css/datepicker.min.css">
	<script type="text/javascript" src="${contextPath}/js/target/datepicker.js"></script>
<script type="text/javascript" src="${contextPath}/js/target/datepicker.ko.js"></script>

